body {
  background-color: #121212;
  font-family: "Changa", sans-serif;
  padding-bottom: 10em;
}

.header .head-logo img {
  width: 12%;
}

.header .head-logo .noti-btn {
  float: right;
  border-radius: 50%;
  margin-top: 2em;
  padding: 0.4em 0.6em 0.3em;
  color: #fff;
  border: 0;
  background: #bad111;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #bad111 0%, #bad111 37%, #6fa31b 57%, #6fa31b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad111', endColorstr='#6fa31b',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

@media (max-width: 768px) {
  .header .head-logo img {
    width: 25%;
  }
  .header .head-logo .noti-btn {
    margin-top: 1em;
  }
}

.header .head-categories {
  background-color: #222;
  color: #f1f1f1;
  overflow: hidden;
  text-align: right;
  direction: rtl;
}

.header .head-categories .cat-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.2em 0.5em;
  margin: 0;
}

.header .head-categories .cat-list li {
  margin: 0 0.5em;
  padding: 0.5em;
  cursor: pointer;
}

.header .head-categories .cat-list li i {
  margin: 0.2em;
}

.header .head-categories .cat-list li.active {
  color: #6fa31b;
}

@media (max-width: 768px) {
  .header .head-categories {
    overflow-x: scroll;
  }
  .header .head-categories .cat-list li {
    font-size: 0.9em;
  }
}

.news-cover {
  padding: 2em 0;
}

.news-cover .cover {
  background-image: url("../images/coverr.jpg");
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.news-cover .news {
  background-color: rgba(129, 129, 129, 0.678);
  border-radius: 10px;
  padding: 0.5em;
}

.news-cover .news p {
  color: #fff;
  font-weight: 300;
  font-size: 0.9em;
  margin: 0;
  font-family: -webkit-pictograph;
}

.champions {
  background-color: #222;
  direction: rtl;
  padding: 2em 0;
}

.champions .champ-nav {
  border-color: #6fa31b;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.champions .champ-nav .nav-link {
  position: relative;
  color: #ccc;
}

.champions .champ-nav .nav-link.active {
  background-color: transparent;
  color: #6fa31b;
  border: none;
}

.champions .champ-nav .nav-link.active::after {
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 74%;
  left: 50%;
}

.champions .champion-content .details {
  color: #ccc;
}

.champions .champion-content .details img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.champions .champion-content .details p {
  color: #6fa31b;
  font-size: 0.9em;
  margin-top: 0.7em;
}

.champions .champion-content .details p.right {
  float: right;
  color: #4f7216;
}

.champions .champion-content .details p.left {
  float: left;
  color: #4f7216;
}

.champions .champion-content .details h5 {
  font-size: 1em;
  background-color: #444;
  padding: 0.5em 0.7em;
  border-radius: 20px;
  color: red;
}

.champions .champion-content .details a {
  color: #6fa31b;
  text-decoration: none;
}

.tournaments {
  background-color: #222;
  padding: 2em 0;
  margin: 2em 0;
}

.tournaments .head-tour {
  direction: rtl;
}

.tournaments .head-tour h5 {
  text-align: right;
  color: #fff;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.tournaments .head-tour a {
  text-decoration: none;
  color: #6fa31b;
  font-size: 0.9em;
}

.tournaments .tour-card {
  width: 20em;
  border: 0;
  background: #299a0b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#299a0b), to(#085066));
  background: linear-gradient(to right, #299a0b 0%, #085066 100%);
  padding: 1em 0.5em;
  border-radius: 10px;
  text-align: right;
  margin: 0 0.5em;
}

.tournaments .tour-card img {
  width: 100%;
}

.tournaments .tour-card p {
  color: #fff;
  font-size: 0.8em;
}

.tournaments .tour-card h6 {
  font-size: 0.8em;
}

.tournaments .tour-card .teams-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.tournaments .tour-card .teams-list li {
  margin: 0.5em;
}

.tournaments .tour-card .teams-list li .vs {
  color: #fff;
  width: 2em;
  height: 2em;
  background-color: #1886a85b;
  border-radius: 50%;
  padding: 0.1em 0.5em;
  font-size: 0.7em;
}

.tournaments .tour-card .times-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.tournaments .tour-card .times-list li {
  margin: 0.5em;
  color: #ccc;
  font-size: 0.8em;
}

.news {
  background-color: #222;
  padding: 2em 0;
  direction: rtl;
  text-align: right;
}

.news .head-news h5 {
  color: #fff;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.news .head-news a {
  text-decoration: none;
  color: #6fa31b;
  font-size: 0.9em;
  float: left;
}

.news .news-media {
  color: #ccc;
  position: relative;
}

.news .news-media img {
  width: 40%;
  margin-top: 0.5em;
}

.news .news-media .media-body h5 {
  font-size: 0.8em;
  margin-top: 1.5em;
  margin-right: 0.5em;
  margin-bottom: 0;
}

.news .news-media .media-body .details {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
}

.news .news-media .media-body .details li {
  font-size: 0.7em;
  margin: 1em 0.4em 1em;
}

.news .news-media .media-body .like {
  position: absolute;
  top: 27%;
  left: 0;
}

.studio {
  padding: 2em 0;
}

.studio .head-studio {
  direction: rtl;
}

.studio .head-studio h5 {
  text-align: right;
  color: #fff;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.studio .head-studio a {
  text-decoration: none;
  color: #6fa31b;
  font-size: 0.9em;
}

.studio .studio-card {
  width: 11em;
  background-color: #222;
  border: none;
  margin: 0.5em;
  color: #ccc;
}

.studio .studio-card .card-body {
  padding: 1rem;
}

.studio .studio-card .card-title {
  font-size: 1em;
}

.studio .studio-card .card-list {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  direction: rtl;
  text-align: right;
}

.studio .studio-card .card-list li {
  font-size: 0.7em;
  margin: 0.3em;
}
/*# sourceMappingURL=main.css.map */