body {
  background-color: #121212;
  font-family: "Changa", sans-serif;
  padding-bottom: 10em;
}
.header {
  .head-logo {
    img {
      width: 12%;
    }
    .noti-btn {
      float: right;
      border-radius: 50%;
      margin-top: 2em;
      padding: 0.4em 0.6em 0.3em;
      color: #fff;
      border: 0;
      background: #bad111; /* Old browsers */
      background: -moz-linear-gradient(
        -45deg,
        #bad111 0%,
        #bad111 37%,
        #6fa31b 57%,
        #6fa31b 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        -45deg,
        #bad111 0%,
        #bad111 37%,
        #6fa31b 57%,
        #6fa31b 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        135deg,
        #bad111 0%,
        #bad111 37%,
        #6fa31b 57%,
        #6fa31b 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad111', endColorstr='#6fa31b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    @media (max-width: 768px) {
      img {
        width: 25%;
      }
      .noti-btn {
        margin-top: 1em;
      }
    }
  }
  .head-categories {
    background-color: #222;
    color: rgb(241, 241, 241);
    overflow: hidden;
    text-align: right;
    direction: rtl;
    .cat-list {
      list-style: none;
      display: inline-flex;
      padding: 0.2em 0.5em;
      margin: 0;
      li {
        margin: 0 0.5em;
        padding: 0.5em;
        cursor: pointer;
        i {
          margin: 0.2em;
        }
        &.active {
          color: #6fa31b;
        }
      }
    }
    @media (max-width: 768px) {
      overflow-x: scroll;
      .cat-list {
        li {
          font-size: 0.9em;
        }
      }
    }
  }
}
// NewsCover Section
.news-cover {
  padding: 2em 0;
  .cover {
    background-image: url("../images/coverr.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
  }
  .news {
    background-color: rgba(129, 129, 129, 0.678);
    border-radius: 10px;
    padding: 0.5em;
    p {
      color: #fff;
      font-weight: 300;
      font-size: 0.9em;
      margin: 0;
      font-family: -webkit-pictograph;
    }
  }
}
// Champions Section
.champions {
  background-color: #222;
  direction: rtl;
  padding: 2em 0;
  .champ-nav {
    border-color: #6fa31b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    .nav-link {
      position: relative;
      color: #ccc;
      &.active {
        background-color: transparent;
        color: #6fa31b;
        border: none;
        &::after {
          content: "\f0de";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          top: 74%;
          left: 50%;
        }
      }
    }
  }
  .champion-content {
    .details {
      color: #ccc;
      img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin-bottom: 0.5em;
      }
      p {
        color: #6fa31b;
        font-size: 0.9em;
        margin-top: 0.7em;
        &.right {
          float: right;
          color: #4f7216;
        }
        &.left {
          float: left;
          color: #4f7216;
        }
      }
      h5 {
        font-size: 1em;
        background-color: #444;
        padding: 0.5em 0.7em;
        border-radius: 20px;
        color: red;
      }
      a {
        color: #6fa31b;
        text-decoration: none;
      }
    }
  }
}
// Tournaments Section
.tournaments {
  background-color: #222;
  padding: 2em 0;
  margin: 2em 0;
  .head-tour {
    direction: rtl;
    h5 {
      text-align: right;
      color: #fff;
      margin-bottom: 1em;
      font-size: 1.2em;
    }
    a {
      text-decoration: none;
      color: #6fa31b;
      font-size: 0.9em;
    }
  }
  .tour-card {
    width: 20em;
    border: 0;
    background: #299a0b; /* Old browsers */
    background: -moz-linear-gradient(
      left,
      #299a0b 0%,
      #085066 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      #299a0b 0%,
      #085066 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #299a0b 0%, #085066 100%);
    padding: 1em 0.5em;
    border-radius: 10px;
    text-align: right;
    margin: 0 0.5em;
    img {
      width: 100%;
    }
    p {
      color: #fff;
      font-size: 0.8em;
    }
    h6 {
      font-size: 0.8em;
    }
    .teams-list {
      list-style: none;
      display: inline-flex;
      padding: 0;
      margin: 0;
      li {
        margin: 0.5em;
        .vs {
          color: #fff;
          width: 2em;
          height: 2em;
          background-color: #1886a85b;
          border-radius: 50%;
          padding: 0.1em 0.5em;
          font-size: 0.7em;
        }
      }
    }
    .times-list {
      list-style: none;
      display: inline-flex;
      padding: 0;
      margin: 0;
      li {
        margin: 0.5em;
        color: #ccc;
        font-size: 0.8em;
      }
    }
  }
}
// News Section
.news {
  background-color: #222;
  padding: 2em 0;
  direction: rtl;
  text-align: right;
  .head-news {
    h5 {
      color: #fff;
      margin-bottom: 1em;
      font-size: 1.2em;
    }
    a {
      text-decoration: none;
      color: #6fa31b;
      font-size: 0.9em;
      float: left;
    }
  }
  .news-media {
    color: #ccc;
    position: relative;
    img {
      width: 40%;
      margin-top: 0.5em;
    }
    .media-body {
      h5 {
        font-size: 0.8em;
        margin-top: 1.5em;
        margin-right: 0.5em;
        margin-bottom: 0;
      }
      .details {
        list-style: none;
        display: inline-flex;
        padding: 0;
        li {
          font-size: 0.7em;
          margin: 1em 0.4em 1em;
        }
      }
      .like {
        position: absolute;
        top: 27%;
        left: 0;
      }
    }
  }
}
